@import url("https://fonts.googleapis.com/css2?family=Festive&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.container {
  height: 95vh;
  width: 100vw;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  gap: 0% 0%;
  grid-auto-flow: row dense;
  justify-content: stretch;
  align-content: center;
  justify-items: center;
  align-items: stretch;
  grid-template-areas:
    "header"
    "introContent"
    "introContent"
    "introContent"
    "footer";
}

.header {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "introTitle"
    "introSubTitle";
  justify-content: center;
  align-content: center;
  align-self: center;
  grid-area: header;
}

.introTitle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: introTitle;
  text-align: center;
}
#domNode {
  position: relative;
  margin: 0 auto;
  transform: translateX(-50px);
  width: 300px;
}

.introSubTitle {
  grid-area: introSubTitle;
  text-align: center;
}

.introContent {
  display: grid;
  min-width: 300px;
  max-width: 500px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "introtuto"
    "introImg"
    "introCommencer";
  align-self: stretch;
  grid-area: introContent;
}

.introtuto {
  align-self: center;
  grid-area: introtuto;
}

.introImg {
  align-self: center;
  grid-area: introImg;
}

.introCommencer {
  align-self: center;
  grid-area: introCommencer;
}

.footer {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: center;
  justify-items: stretch;
  align-items: center;
  grid-template-areas: "indice son next";
  grid-area: footer;
}

.indice {
  justify-self: center;
  align-self: center;
  grid-area: indice;
}

.son {
  justify-self: center;
  grid-area: son;
}

.next {
  justify-self: center;
  grid-area: next;
  align-self: center;
}
#divTimer {
  position: absolute;
  top: 30px;
  right: 28px;
  color: #b9bacf;
  width: 45px;
}
#fondtimer {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-25%, -25%);
  z-index: -1;
}
h2 {
  margin-top: 3vh;
  padding: 5px;
  color: #ff6a70;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 120%;
}

h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #ff6a70;
  margin-top: 2vh;
}
.introsubtitle {
  height: 40px;
  padding: 10px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 120%;
  color: #b9bacf;
}
button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh auto 1vh;
  padding-inline: 10px;
  background: #ffffff;
  /* Monochrome/200 */
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 120%;
  z-index: 100;
  height: 40px;
  padding-inline: 14px;
}
input {
  font-family: "inter", sans-serif;
  font-size: 0.9em;
  font-style: italic;
  color: #b9bacf;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  border-radius: 7px;
  padding: 3px;
}
#imgintro {
  height: 44vh;
  z-index: -1;
  position: relative;
  margin: 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 13px;
}
p {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
}
.instructions {
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  min-width: 250px;
  background-color: #ffffffc0;
  margin: 10px auto 10px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.021);
  padding: 10px;
}
.instructionssbutitle {
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 12px;
  width: 90%;
  margin: 0px auto 00px;
}

.next {
  position: fixed;
  z-index: -13;
  top: 84vh;
  left: 66vw;
  background-color: #ff6a70;
  border-radius: 25px 0px 0px 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  visibility: hidden;
}
#next {
  bottom: 3.5vh;
  text-align: center;
  border: none;
  color: whitesmoke;
  font-size: 5em;
  font-family: "Festive", cursive;
  visibility: hidden;
}

.cont1 {
  position: relative;
  justify-self: center;
  align-self: center;
  grid-area: cont1;
  width: 90%;
}

.cont2 {
  justify-self: center;
  align-self: center;
  grid-area: cont2;
  width: 100%;
  margin: 0 auto;
}

.cont3 {
  justify-self: center;
  align-self: center;
  grid-area: cont3;
  width: 90%;
}
.score {
  width: 90%;
}

.cont4 {
  justify-self: center;
  align-self: center;
  grid-area: cont4;
  width: 90%;
  margin: 0 auto;
}

.cont5 {
  justify-self: center;
  align-self: center;
  grid-area: cont5;
  width: 90%;
}
/* ---------------------------------------------- */

.containerreponse {
  padding: 5px;
  color: #b9bacfc4;
  text-align: center;
  margin: auto auto;
  width: 60%;
  height: 45px;
  background: rgba(19, 18, 37, 0.74);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px auto 10px;
}
.code {
  position: relative;
  top: -5px;
  width: 70px;
  margin: auto auto;
}
#code {
  position: relative;
  left: -55px;
  top: 16px;
  text-align: right;
  width: 10px;
  height: 15px;
}
.choixImg {
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "fleche1 fleche2 fleche3"
    "img1 img2 img3"
    "fleche4 fleche5 fleche6";
  justify-self: stretch;
  align-self: center;
  grid-area: 2 / 1 / 5 / 2;
}
.fleche1 {
  grid-area: fleche1;
  justify-self: center;
  align-self: center;
}
.fleche2 {
  grid-area: fleche2;
  justify-self: center;
  align-self: center;
}
.fleche3 {
  grid-area: fleche3;
  justify-self: center;
  align-self: center;
}
.img1 {
  grid-area: img1;
  justify-self: center;
  align-self: center;
}
.img2 {
  grid-area: img2;
  justify-self: center;
  align-self: center;
}
.img3 {
  grid-area: img3;
  justify-self: center;
  align-self: center;
}
.fleche4 {
  grid-area: fleche4;
  justify-self: center;
  align-self: center;
}
.fleche5 {
  grid-area: fleche5;
  justify-self: center;
  align-self: center;
}
.fleche6 {
  grid-area: fleche6;
  justify-self: center;
  align-self: center;
}
.flecheBas {
  border: none;
  background-color: #b9bacf00;
  transform: rotate(180deg);
}
.flecheHaut {
  border: none;
  background-color: #b9bacf00;
}
.fleche {
  padding: 12px 48px;
  z-index: 1000;
  bottom: 3.5vh;
  text-align: center;
  border: none;
  color: whitesmoke;
  font-size: 5em;
  font-family: "Festive", cursive;
}
/* btn qui brille */
.flecheshine {
  padding: 12px 48px;
  z-index: 1000;
  bottom: 3.5vh;
  text-align: center;
  border: none;
  color: whitesmoke;
  font-size: 5em;
  font-family: "Festive", cursive;

  background: linear-gradient(to right, #ffffff 0, #ff6a6f00 10%, #ffffff 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 3s infinite linear;
  animation: shine 3s infinite linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;

  text-decoration: none;
  white-space: nowrap;
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 200px;
  }
  100% {
    background-position: 200px;
  }
}

video {
  padding-top: 15vh;

  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}
#voile {
  padding-top: 20vh;
  padding-bottom: 18vh;
}

#codecabine {
  width: 80px;
  position: relative;
  top: -180px;
  left: -15px;
}
#tuto2 {
  margin: auto;
  width: 373px;
  height: 361px;
}
.instructions2 {
  position: relative;
  top: 2vh;
  border-radius: 12px;
  width: 70px;
  text-align: center;
  height: 40px;
  background-color: #ffffffc0;
  margin: 10px auto 10px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.021);
  padding: 10px;
}

#in16 {
  text-align: center;
}

.metre {
  position: relative;
  top: -5px;
  width: 70px;
  margin: auto auto;
}
#metre {
  position: relative;
  left: 30px;
  top: -50px;
  text-align: right;
  width: 100px;
  height: 15px;
  color: #b9bacf;
}
#in20 {
  width: 80px;
  text-align: center;
  left: 0px;
  top: -2pxx;
}
#in22 {
  height: 20px;
  width: 70px;
  text-align: center;
  left: -20px;
  top: 6px;
}
.containerreponse2 {
  padding: 5px;
  color: #b9bacfc4;
  text-align: center;
  margin: auto auto;

  height: 45px;
  background: rgba(19, 18, 37, 0.74);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px auto 10px;
  width: 200px;
}
#in29 {
  text-align: center;
}
.fondblanc {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.904);
}
.datefinale {
  width: 100%;
}

label {
  font-size: 1rem;
  padding-right: 10px;
}

select {
  font-size: 0.9rem;
  padding: 2px 5px;
}

footer {
  font-size: 0.8rem;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* .output {
  background: center/cover no-repeat url(./imgappli/daterome.jpg');
  position: relative;
} */
