html {
  min-width: 360px;
  min-height: 667px;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0 auto 0;
  padding: 0;
}
/* .status {
  position: absolute;
  padding: auto;
  top: 0;

  background-image: url("./icone/Status\ Bar.png");
  background-repeat: no-repeat;
  height: 30px;
  width: 100%;
} */

body {
  text-align: center;
  justify-content: center;
  margin: 0 auto 0;

  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

h2 {
  margin-top: 4%;
  padding: 5px;
  color: #ff6a70;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 120%;
}
h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  line-height: 120%;
  align-items: center;
  text-align: center;
  color: #ff6a70;
  margin-top: 3vh;
}
#divTimer {
  position: absolute;
  top: 30px;
  right: 32px;
  color: #b9bacf;
  width: 40px;
}
#fondtimer {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-25%, -25%);
  z-index: -1;
}
#subtitle {
  height: 40px;
  padding: 10px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 120%;
  color: #b9bacf;
}

#body2 {
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: 4vh;
}

button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh auto 1vh;
  padding-inline: 10px;
  background: #ffffff;
  /* Monochrome/200 */
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 120%;

  height: 40px;
}
.pos {
  margin: 0 auto 0;
  /* border: 2px solid black; */
  position: relative;
  /* min-width: 300px;
  max-width: 340px; */
}
#muted {
  position: absolute;
  width: 56px;
  height: 56px;
  right: 70px;
  bottom: -20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
#imgintro {
  height: 35vh;

  margin: 2vh auto 2vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 13px;
}

.instructions {
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 12px;
  width: 90%;

  margin: 10px auto 10px;

  padding: 10px;
}

#tuto {
  float: left;
  margin: 10px;
}
p {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-around;
  margin-top: 15px;
}

.flex-items:nth-child(1) {
  display: block;

  margin: auto auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;

  margin: 0 auto 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;

  margin: 0 auto 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-container1 {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  border: solid 2px black;
  position: relative;
  border-radius: 25px;
  min-height: 667px;
  max-height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 5%;
}

.flex-items1:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items1:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items1:nth-child(3) {
  display: block;
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  width: 90%;
  height: 70px;
}

#next {
  background-color: #b9bacf00;
  border: none;
  color: whitesmoke;
  font-size: 5em;
  font-family: "Festive", cursive;
}

.fondnext {
  position: relative;
  height: 50px;
  width: 200%;
  left: 78%;
  bottom: 60px;
  background-color: #f66969;
  border-radius: 25px 0px 0px 0;
  z-index: -1;
  overflow-x: hidden;
}
.fondnext::before {
  content: "";

  position: absolute;
  overflow-y: hidden;
  background-color: transparent;
  left: 0;
  bottom: -50px;
  height: 50px;
  width: 25px;
  border-top-left-radius: 50px;
  box-shadow: 0 -25px 0 0 #f66969;
}
