@import url("https://fonts.googleapis.com/css2?family=Festive&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
  gap: 0% 0%;
  grid-auto-flow: row dense;
  justify-content: stretch;
  align-content: center;
  justify-items: center;
  align-items: stretch;
  grid-template-areas:
    "header"
    "introContent"
    "introContent"
    "introContent"
    "footer";
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: stretch;
  grid-template-areas:
    "introTitle"
    "introSubTitle";
  align-self: stretch;
  grid-area: header;
}

.introTitle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ".";
  grid-area: introTitle;
}

.introSubTitle {
  grid-area: introSubTitle;
}

.introContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "introtuto"
    "introImg"
    "introCommencer";
  align-self: stretch;
  grid-area: introContent;
}

.introtuto {
  align-self: center;
  grid-area: introtuto;
}

.introImg {
  align-self: center;
  grid-area: introImg;
}

.introCommencer {
  align-self: center;
  grid-area: introCommencer;
}

.footer {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: center;
  justify-items: stretch;
  align-items: center;
  grid-template-areas: "indice son next";
  grid-area: footer;
}

.indice {
  justify-self: center;
  align-self: center;
  grid-area: indice;
}

.son {
  justify-self: center;
  grid-area: son;
}

.next {
  justify-self: center;
  grid-area: next;
  align-self: center;
}
#divTimer {
  position: absolute;
  top: 30px;
  right: 28px;
  color: #b9bacf;
  width: 45px;
}
#fondtimer {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(-25%, -25%);
  z-index: -1;
}
h2 {
  margin-top: 4%;
  padding: 5px;
  color: #ff6a70;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  line-height: 120%;
}
.introsubtitle {
  height: 40px;
  padding: 10px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 120%;
  color: #b9bacf;
}
button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh auto 1vh;
  padding-inline: 10px;
  background: #ffffff;
  /* Monochrome/200 */
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 120%;
  z-index: 100;
  height: 40px;
  padding-inline: 10px;
}
input {
  font-family: "inter", sans-serif;
  font-size: 0.9em;
  font-style: italic;
  color: #b9bacf;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  border-radius: 7px;
  padding: 3px;
}
#imgintro {
  height: 44vh;
  z-index: -1;
  position: relative;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 13px;
}
p {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
}
.instructions {
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 12px;
  width: 90%;
  background-color: #ffffffc0;
  margin: 10px auto 10px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.021);
  padding: 10px;
}
.instructionssbutitle {
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
  border-radius: 12px;
  width: 90%;
  margin: 0px auto 00px;
}

.next {
  position: fixed;
  z-index: -13;
  top: 89vh;
  left: 66vw;
  background-color: #ff6a70;
  border-radius: 25px 0px 0px 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
#next {
  bottom: 3.5vh;
  text-align: center;
  border: none;
  color: whitesmoke;
  font-size: 5em;
  font-family: "Festive", cursive;
}
