* {
  margin: none;
}

h2 {
  margin: 40px;
}

.lotimg {
  width: 30%;
}
.btnbas {
  width: 30px;
  height: 30px;
  align-items: baseline;
  transform: rotate(180deg);
  justify-self: center;
}
.btnhaut {
  width: 30px;
  height: 30px;
  justify-self: center;
}
.img {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn7 {
  margin: 40px;
}

.angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 5px;
  height: 100%;
}
.container {
  display: grid;
  width: 200px;

  grid-template-columns: 0.8fr 0.8fr 0.8fr;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  gap: 1px 1px;
  grid-auto-flow: row dense;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}
